/* Table of Content */
/* -------------------- */
/* 1. Imports & Clears */
/* 2. Reset */
/* 3. General */
/* 4. Main Container */
/* 5. Header */
/* 6. Footer */
/* -------------------- */
/* 1. Imports & Clears */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext);
.header .menu:after, .header ul:after, .when:after, .where:after, .topics .container:after, .speakers:after, .featured:after, .schedule ul:after, .day:after, .event:after, .event .event-info div:after, .bullets:after, .registration:after, .sponsors .container:after, .info:after, .social div:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden; }

/* all default colors

#ea4c0f - orange, original color
#10a1d6 - light blue
#59cbe3 - blue
#95a5a5 - gray
#913d88 - purple
#c51330 - red
#eb7f9f - pink
#f39c11 - yellow
#1bbc9b - light green
#4daf7c - green

*/
/* natural box layout model to all elements */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

/* 2. Reset */
body, h1, h2, h3, h4, h5, h6, ul, li, form, div, p, ol, button, hr, blockquote {
    margin: 0;
    padding: 0; }

article, figure, footer, header, nav, section, details, summary {
    display: block; }

/* 3. General */
html {
    background: white; }

body {
    font: 14px "Open Sans", sans-serif;
    text-align: center;
    color: black; }
@media all and (max-width: 640px) {
    body {
        font-size: 13px; } }

h1, h2, h3 {
    margin-bottom: 30px;
    line-height: 1.1em; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif; }

p, h4, h5, h6 {
    margin-bottom: 10px; }

input:focus, textarea:focus {
    outline: none; }

textarea {
    resize: none; }

h1, h2 {
    font-size: 5.14286em;
    font-weight: bold; }
@media all and (max-width: 1180px) {
    h1, h2 {
        font-size: 4.57143em; } }
@media all and (max-width: 940px) {
    h1, h2 {
        font-size: 4em; } }
@media all and (max-width: 780px) {
    h1, h2 {
        font-size: 3.42857em; } }
@media all and (max-width: 480px) {
    h1, h2 {
        font-size: 2.85714em; } }

h2 {
    font-weight: 300; }

div {
    width: auto;
    height: auto;
    margin: 0 auto; }

a {
    text-decoration: underline;
    color: black;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
a:hover {
    text-decoration: none;
    color: black; }

.subtitle, .topics h3 {
    font-size: 1.85714em;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
@media all and (max-width: 1180px) {
    .subtitle, .topics h3 {
        font-size: 1.78571em; } }
@media all and (max-width: 940px) {
    .subtitle, .topics h3 {
        font-size: 1.71429em; } }
@media all and (max-width: 780px) {
    .subtitle, .topics h3 {
        font-size: 1.57143em; } }
@media all and (max-width: 480px) {
    .subtitle, .topics h3 {
        font-size: 1.5em; } }

/* 4. Main Container */
.page {
    text-align: left;
    overflow: hidden; }
.page .container {
    max-width: 1180px; }
@media all and (max-width: 1180px) {
    .page .container {
        width: 98%; } }

/* Header */
@media all and (max-width: 940px) {
    .header {
        height: auto; } }
.header .container {
    text-shadow: 3px 3px 4px #333333;
    padding: 60px;
    position: relative;
    min-height: 665px; }
.header .menu {
    z-index: 999;
}
.header .menu, .header .menu .dropdown-menu {
    background: rgba(16, 161, 214, 0.8); }
.header .menu .dropdown ul {
    padding: 5px 0px;
    min-width: 120px;
}
.header .menu .dropdown-menu a:focus, .header .menu .dropdown-menu a:hover {
    background: inherit;
}
.header ul {
    list-style-type: none;
    padding: 15px 60px;
    max-width: 1180px;
    margin: 0 auto; }
.header ul li {
    float: left;
    margin-right: 10px; }
.header ul li a {
    font-size: 1.14286em;
    color: white;
    text-transform: uppercase;
    font-weight: 300; }
.header ul li a:hover, .header ul li a.active {
    color: black; }
.header h1 {
    padding-top: 100px;
    margin-bottom: 0; }
.header .subtitle {
    margin-bottom: 80px; }
.header a {
    text-decoration: none;
    color: white; }

/* Other */
.form {
    padding-right: 15px; }
@media all and (max-width: 1180px) {
    .form {
        padding: 0;
        margin-bottom: 20px; } }

.form input, .form textarea, .form select {
    width: 100%;
    display: block;
    margin-bottom: 8px;
    border: 3px solid #f0f0f0;
    background-color: #f0f0f0;
    padding: 10px;
    height: 52px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: black;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
.form input:focus, .form input:hover, .form textarea:focus, .form textarea:hover, .form select:focus, .form select:hover {
    background-color: white; }
.form button {
    font-size: 1.71429em;
    color: white;
    background-color: #10a1d6;
    border: 3px solid #10a1d6;
    width: 100%;
    height: 81px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
.form button:hover {
    background: white;
    color: black; }

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999; }

.contact-form {
    padding: 50px;
    width: 50%;
    max-width: 675px;
    border: 3px solid #f0f0f0;
    background-color: white;
    text-align: left;
    margin-top: 5%;
    position: relative;
    font-family: "Roboto Condensed", sans-serif; }
@media all and (max-width: 980px) {
    .contact-form {
        width: 96%;
        max-width: none;
        padding: 25px; } }
@media all and (max-width: 640px) {
    .contact-form {
        width: 98%;
        max-width: none;
        padding: 20px; } }
.contact-form h3 {
    font-size: 5.14286em;
    font-weight: 300;
    margin-bottom: 0; }
@media all and (max-width: 980px) {
    .contact-form h3 {
        font-size: 4em; } }
@media all and (max-width: 640px) {
    .contact-form h3 {
        font-size: 2.57143em; } }
.contact-form p {
    font-size: 1.71429em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 45px; }
@media all and (max-width: 980px) {
    .contact-form p {
        font-size: 1.42857em; } }
@media all and (max-width: 640px) {
    .contact-form p {
        font-size: 1.28571em; } }
.contact-form p.error, .contact-form p.message {
    text-transform: none;
    font-size: 1em;
    margin: 0;
    margin-top: 7px;
    font-family: "Open Sans", sans-serif; }
.contact-form p.error.active {
    padding: 10px;
    background: #fef0f0;
    color: #ea0001;
    border: 3px solid #f8b2b2; }
.contact-form .form {
    float: none;
    width: 100%;
    padding-right: 0; }
.contact-form input, .contact-form textarea {
    margin-bottom: 7px; }
.contact-form input.error, .contact-form textarea.error {
    border: 3px solid #f8b2b2; }
.contact-form textarea {
    height: 160px; }
@media all and (max-width: 640px) {
    .contact-form textarea {
        height: 150px; } }
.contact-form a {
    position: absolute;
    color: #10a1d6;
    top: 18px;
    right: 18px; }
.contact-form a:hover {
    opacity: .5; }

.back {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99; }
.back .container {
    position: relative;
    max-width: 1180px; }
.back a {
    width: 50px;
    height: 50px;
    background: #10a1d6;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
.back a:hover {
    bottom: -6px; }

.anchor {
    display: block;
    height: 0px; }

/* 6. Footer Section */
.footer {
    font-family: "Roboto Condensed", sans-serif; }
.footer .container {
    padding: 40px 0;
    text-align: center; }
.footer p {
    font-size: 1.28571em;
    color: #010101;
    font-weight: 300; }
.footer a {
    color: #10a1d6;
    text-decoration: none; }

