<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{% block title '' %} - Concurso Escolar de Programación 2014</title>

<link href="{{ app.request.basepath }}/css/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' type='text/css'>
<link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-overrides.css" type="text/css" />
<link rel="stylesheet" href="{{ app.request.basepath }}/css/theme.css" type="text/css" />
<link rel="stylesheet" href="{{ app.request.basepath }}/css/index.css" type="text/css" media="screen" />    
<link rel="stylesheet" href="{{ app.request.basepath }}/css/our.css" type="text/css" />    
{% block css %} {% endblock %}

</head>
<body class="pull_top">
<div id="top">
  </div>

<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ app.url_generator.generate('homepage') }}#" class="navbar-brand">#CEP2014</a>
    </div>

    <nav class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="{{ app.request.basepath }}/#top">INICIO</a></li>
        <li><a class="move" href="{{ app.request.basepath }}/#nosotros">NOSOTROS</a></li>
        <li><a class="move" href="{{ app.request.basepath }}/#participa">PARTICIPA</a></li>
        <li><a href="{{ app.url_generator.generate('practice') }}">PRACTICA</a></li>
        <li><a class="move" href="{{ app.request.basepath }}/#contacto">CONTACTO</a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ARCHIVO <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://cs.ucsp.edu.pe/cep2013/">2013</a></li>
        </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

{% block content %}{% endblock %}

<footer>
  <div class="container">
    <div class="row sections">
      <div class="col-sm-4 testimonials">
        <h3 class="footer_header">
          Testimonios
        </h3>
        <div class="wrapper">
          <div class="quote">
            <span>“</span>
Con proyectos como el CEP, se busca descubrir y potenciar diversas capacidades en nuestros escolares; por eso, con el apoyo de personas que confían en el cambio, se puede lograr que el Perú poco a poco esté al nivel de grandes potencias en ciencia y tecnología.
            <span></span>
          </div>
          <div class="author">
            <img src="{{ app.request.basepath }}/img/tstm1.png" />
            <div class="name">Pamela Revuelta</div>
            <div class="info">
              Entrenadora CEP2013
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 testimonials">
        <h3 class="footer_header">
          &nbsp;
        </h3>
        <div class="wrapper">
          <div class="quote">
            <span>“</span>
            Con el CEP pude desarrollar mis habilidades y conocer más sobre la ciencia de la computación. Esta experiencia me animó a querer seguir aprendiendo más sobre ella, y porqué no, a seguirla como carrera profesional, ya que el futuro está en el desarrolo de la tecnología y quisiera ser parte de eso. 
            <span></span>
          </div>
          <div class="author">
            <img src="{{ app.request.basepath }}/img/tstm2.png" />
            <div class="name">Oriana Mantilla</div>
            <div class="info">
              Participante CEP2013
            </div>
          </div>
        </div>
      </div>
      <div id="contacto" class="col-sm-4 contact">
        <h3 class="footer_header">
          Contacto
        </h3>
        <form action="{{ app.url_generator.generate('contact') }}" method="post">
          {{ form_widget(form2.name) }}
          {{ form_widget(form2.email) }}
          {{ form_widget(form2.message) }}
          {{ form_widget(form2.enviar, {'attr': {'class': 'btn btn-default btn-sm'}}) }}
          {{ form_widget(form2) }}
        </form>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <!-- <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a> -->
            <a href="https://twitter.com/acmUCSP" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
            <a href="https://plus.google.com/114921313445823618732/posts" class="gplus">
              <span class="socialicons ico3"></span>
              <span class="socialicons_h ico3h"></span>
            </a>
          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">
            © 2014 Capítulo Estudiantil ACM UCSP
          </div>
        </div>
      </div>            
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/js/theme.js"></script>
{% block js %} {% endblock %}
</body>
</html>
